@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
}


.calculator-container {
  position: relative;
  background-color: rgb(204, 198, 198);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  width: 408px;
  height: 320px;
  left: 50%;
  top: 20vmax;
}

.title {
  position: relative;
  top: 15vh;
  left: 10%;
}

.display {
  position: relative;
  color: #fff;
  font-size: 21px;
  padding: 20px 10px;
  text-align: right;
  width: 100%;
  height: 56px;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #817d7d;
}

.numbers-container {
  width: 75%;
}

.operators-container {
  width: 25%;
}

button {
  border: none;
  cursor: pointer;
  margin: 1px;
  height: 50px;
  width: 100px;
  font-size: 17px;
}

button.orange {
  background-color: #ee9406;
  color: #000;
}

#zero {
  width: 202px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}