.home {
  padding: 0 30px;
  overflow: hidden;
}

.home h1 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #fbeec1;
  margin-bottom: 100px;
  padding: 10px 10px;
  margin-top: 210px;;
  text-align: center;
  width: 100%;
}

.home p {
  margin-top: 25px;
  font-weight: bold;
  font-size: 16px;
  color: #fbeec1;
  text-align: center;
  width: 100%;
 
}

@media screen and (min-width: 680px) {
  .home {
    padding-top: 50px;
  }

  .home h1 {
    font-size: 40px;
    padding: 10px 20px;
  }

  .home p {
    margin-top: 15px;
    padding: 10px 100px;
    font-size: 24px;
  }
}

