@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #272727;
  padding: 12px 20px;
  right: 1px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
}

.link {
  list-style: none;
  color: #fbeec1;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.header {
  font-size: 15px;
  font-family: 'Neonderthaw', sans-serif;
  font-weight: 600;
  color: #fbeec1;
  padding-left: 40px;;
}

@media screen and (min-width: 680px) {
  .navbar {
    padding: 20px 100px;
  }

  .header {
    font-size: 3.0vh;
    padding-left: 200px;
  }

  .link {
    font-size: 22px;
  }
}
