.quotes {
  overflow: hidden;
}

.quote-wrapper {
  margin-top: 88%;
  color: rgb(94, 91, 91);
}

.quote {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #fff;
  background: #272727;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 680px) {
  .navbar {
    padding: 20px 100px;
  }

  .header {
    font-size: 30px;
  }

  .link {
    list-style: none;
    color: #fbeec1;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
  }
}
